// Place all the styles related to the api/companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "constants";

.company-chart {
  max-width: 100%;
}

.company-detail {
  display: grid;
  margin-top: 15vh;
  // flex-direction: column;
  grid-template-columns: minmax(100px, 1fr) minmax(250px, 3fr) minmax(
      100px,
      1fr
    );

  img {
    width: 50vw;
  }
  * {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0 auto;
    color: white;
  }
}

.watchlist-button {
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  width: 185px;
}
.watchlist-button:focus {
  outline: none;
}
.green {
  border: 1px solid $robin-green;
  color: $robin-green;
}
.green:hover {
  box-shadow: 0 0 0.1px $robin-green;
  border: 1px solid $robin-green-light;
  color: $robin-green-light;
}
.red {
  border: 1px solid $robin-red;
  color: $robin-red;
}
.red:hover {
  box-shadow: 0 0 0.1px $robin-red;
  border: 1px solid $robin-red-light;
  color: $robin-red-light;
}
.chart-detail {
  display: block;
}
.chart {
  display: block;
  width: 65vw;
  * {
    display: block;
    padding: 0;
    left: -30px;
  }
}
.company-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3vh;
  .company-display {
    justify-content: left;
    margin: 0;
  }
  .company-watchlist {
    justify-content: right;
    margin: 0;
  }
}
#ogPrice {
  display: none;
}
.company-detail p {
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.25px;
  line-height: 19px;
}
.additional-details {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(
      100px,
      1fr
    );
  row-gap: 10px;
  h1 {
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -0.14px;
    line-height: 30px;
  }
  h3 {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.25px;
    line-height: 19px;
  }
  p {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.25px;
    line-height: 19px;
  }
  .text {
    display: block;
    justify-content: left;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
