$background-dark:  #1b1b1d;
$dark-hover:  #171718;
$placeholder: #8c8c8e;
$robin-green: #21ce99;
$robin-green-light: #1ae9aa;
$actual-robin-red: #f45531;
$robin-red: #f45531;
// $robin-red: #E30000;
$robin-red-light: #ff6340;
// $robin-red-light: #f61010;
$robin-white: #fff;
