.dashboard-watchlists {
    display: flex;
    // border: 1px solid white;
    // background-color: green;
    height: 100vh;
    margin-top: 70px;
    *{
        color: white;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        list-style: none;
    }
}