@import "constants";

.dashboard {
  display: grid;
  margin-top: 80px;
  color: $robin-white;
  background-color: $background-dark;
  grid-template-columns:
    minmax(100px, 1fr) minmax(250px, 3fr)
    minmax(100px, 1.5fr) minmax(100px, 1fr);
  grid-template-rows: repeat(1, 1fr);

  .dashboard-watchlists {
    display: flex;
    // height: 100vh;
    color: white;
    justify-content: center;
    * {
      text-decoration: none;
      list-style: none;
      padding: 0;
      justify-content: center;
    }
    ul {
      border: 1px solid black;
      //   height: 0;
      padding-top: 20px;
      padding-bottom: 20px;

      li {
        display: block;
        padding: 10px 50px;
        text-align: center;
      }

      li:hover {
        cursor: pointer;
        background-color: $robin-green;
        color: white;
      }
    }
  }
  .dashboard-home {
    display: block;
    justify-content: center;
    align-items: center;
    img {
      width: 45vw;
    }
  }
  .dashboard-welcome {
    display: block;
  }
  .dashboard-news {
    ul {
      margin: 0;
      padding: 0;
    }
  }
  .articles {
    display: flex;
    // justify-content: space-between;
    height: 100px;
    padding-bottom: 10px;
    .image-container {
      display: flex;
    }
    .image-container {
      width: 100px;
      height: 100px;
      display: block;
      * {
        width: 100px;
        text-align: center;
        padding-top: 25px;
        font-size: 50px;
        color: $robin-green;
      }
    }
    a {
      background-color: $background-dark;
      display: inline-flex;
      padding-right: 10px;
      align-items: center;
      width: 100%;
    }
    li {
      padding-left: 30px;
      list-style: none;
    }
    * {
      text-decoration: none;
    }
    h2 {
      text-decoration: none;
      color: white;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.25px;
      margin: 0px;
    }
    p {
      text-decoration: none;
      color: $robin-green;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.25px;
      margin: 0px;
    }
  }

  .articles:hover {
    * {
      background-color: $dark-hover;
      // color: black;
      text-decoration: none;
    }
  }
}
