@import "constants";

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: $background-dark;
  position: fixed;
  width: 100vw;
  top: 0px;

  img {
    display: inline-block;
    width: auto;
    height: 50px;
    padding: 0px;
    justify-content: start;
  }

  .nav-link p {
    display: inline-block;
    padding-right: 50px;
    margin: 0 auto;
    color: $robin-green;
  }

  .logging {
    color: $robin-green;
    text-decoration: none;
  }
  .logging:hover {
    color: $robin-green-light;
  }
}
