@import "constants";

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: $background-dark;
  position: fixed;
  width: 100vw;
  height: 10vh;
  top: 0px;

  img {
    display: inline-block;
    width: auto;
    height: 35px;
    padding-left: 30px;
    justify-content: center;
    align-items: center;
  }

  .logo {
    display: inline-block;
  }

  .logo-hov {
    display: none;
  }

  .logo:hover .logo-std {
    display: none;
  }

  .logo:hover .logo-hov {
    display: inline-block;
  }

  .nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-bar {
    display: inline-flex;
    // padding-right: 50px;

    margin: 0 auto;
    justify-content: center;
    align-items: center;
    input {
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 0.25px;
      border-radius: 2px;
      display: inline-block;
      margin-left: 50px;
      border: 1px solid $placeholder;
      background-color: $background-dark;
      color: $robin-green-light;
      padding: 5px;
      width: 40vw;
    }
    ::placeholder {
      color: $placeholder;
    }
    input:hover {
      border: 1px solid $robin-green;
    }
    input:focus {
      border: 1px solid $robin-green;
      box-shadow: 0 0 3px $robin-green;
      outline: none;
    }
  }

  .nav-link p {
    display: inline-block;
    padding-right: 50px;
    margin: 0 auto;
    color: $robin-white;
  }

  .logging {
    color: $robin-white;
    text-decoration: none;
  }
  .logging:hover {
    color: $robin-green-light;
  }
}

@media (max-width: 800px) {
  .navbar {
    height: 15vh;

    img {
      height: 40px;
    }
  }
}
