@import "constants";

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  background-color: $background-dark;
  // background-color: blue;
  position: fixed;
  width: 100vw;
  height: 7vh;
  top: 0px;

  img {
    display: inline-block;
    width: auto;
    height: 35px;
    padding-left: 30px;
    justify-content: start;
  }
  
  .logo-hov {
    display: none;
  }
  .logo:hover .logo-std {
    display: none;
  }
  .logo:hover .logo-hov {
    display: inline-block;
  }


  // .logo-hov:hover {
  //   display: inline-block;
  // }

  // .logo-std:hover {
  //   display: none;
  // }

  // .logo-std {
  //   display: inline-block;
  // }

  .nav-link p {
    display: inline-block;
    padding-right: 50px;
    margin: 0 auto;
    color: $robin-green;
  }

  .logging {
    color: $robin-green;
    text-decoration: none;
  }
  .logging:hover {
    color: $robin-green-light;
  }
}
